@import "../../styles/mixins";
@import "../../styles/variables";

.product {
    @include flex($gap: 0.5rem, $direction: column);
    text-align: center;
    width: 200px;
}

.product-brand {
    @include typography(10px, $font-bold);
    height: 10px;
}

.product-name {
    @include typography(16px, $font-bold, $line-height: 18px);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}


.produt-image {
    height: 154px;
    text-align: center;
    width: 200px;

    & > img {
        box-sizing: border-box;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }
}

.product-price {
    @include typography(16px, $font-bold, $spacing: 0.25px, $color: black);
}

.quantity-control {
    width: 100%;
}