@import '../../styles/variables';
@import '../../styles/mixins';

.header {
    @include flex($gap: 10px, $justify: flex-start);
    background: white;
    border-bottom: 1px solid $border;
    box-sizing: border-box;
    height: auto;
    max-height: 64px;
    padding: 10px 10px 4px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 0;
}

.logo {
    padding: 4px 14px;
}

.search {
    align-self: baseline;
    border: 1px solid $border;
    border-radius: 2px;
    color: $text-secondary;
    font-size: 14px;
    line-height: 1;
    max-width: 476px;
    min-width: 280px;
    outline: none;
    padding: 12px 10px 10px;
    width: 100%;
}

.navigation {
    @include flex($gap: 24px);
    box-sizing: border-box;
}

.nav-link {
    @include typography(10px, $font-bold, $color: $text-sub, $spacing: 0.25px);
    @include flex($gap: 0.5rem, $direction: column, $justify: flex-end);
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    position: relative;
    text-decoration: none;

    &.current {
        color: black;
    }

    &.hidden {
        display: none;
    }
}

.nav-link > .counter {
    @include typography(12px, 700, $color: white);
    background: $main-red;
    border-radius: 100%;
    padding: 3px 5px;
    position: absolute;
    right: -5px;
    top: -7px;
}

.promo {
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
}