$text-base: #222222;
$text-secondary: #aeaeae;
$text-sub: #777777;
$main-red: #ec6661;
$border: #eaeaea;
$border-darker: #D7D7D7;
$primary: #38C2DE;

$font-normal: 400;
$font-bold: 600;

$default-font: 'Quicksand';